{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %}
    
  {% endblock title %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
          // $(document).ready(function(){
          //     $('.nav-link').on('click', function(e) {
          //         e.preventDefault();
          //         $('.nav-link').removeClass('active');
          //         $(this).addClass('active');
          //     });
          // });
  //         document.addEventListener('DOMContentLoaded', function() {
  // const navLinks = document.querySelectorAll('.nav-link');

  // navLinks.forEach(link => {
  //   link.addEventListener('click', function(event) {
  //     navLinks.forEach(otherLink => otherLink.classList.remove('active'));
  //   });

  //   // Check if the link's href matches the current URL and set 'active' class accordingly
  //   if (link.href === window.location.href) {
  //     link.classList.add('active');
  //   }
  // });
  // });
      </script>
      <div class="profile">
        <img src="{% static 'assets/img/vamshi-photo.jpeg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Vamshi Kammari</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="mailto:kumarvamshi123@gmail.com" class="mail"><i class="bx bx-envelope"></i></a>
          <a href="https://twitter.com/kumarvamshi123" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://github.com/vamshi-111" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://join.skype.com/invite/uneyTlUBBq7b" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/vamshi-kumar/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="/home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Categories</span></a></li>
          <li><a href="blog/" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Blogs</span></a></li>
          <li><a href="logout/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Logout</span></a></li>
          <li><a href="/" class="nav-link scrollto "><i class="bx bx-file-blank"></i> <span>Homepage</span></a></li>
          <li><a href="profile/" class="nav-link scrollto "><i class="bx bx-user-circle"></i> <span>Profile</span></a></li>
          {% else %}
          
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Me Page</span></a></li>
          <!-- <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li> -->
          <li><a href="/professional" class="nav-link scrollto"><i class="bi bi-briefcase"></i> <span>Professional</span></a></li>
          <li><a href="/education" class="nav-link scrollto"><i class="bi bi-book"></i> <span>Education</span></a></li>
          <li><a href="/contact" class="nav-link scrollto"><i class="bi bi-phone"></i> <span>Collaborate</span></a></li>
          <!-- <li><a href="/login" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Login</span></a></li>
          <li><a href="/admin" class="nav-link scrollto"><i class="bx bx-user-circle"></i> <span>Admin</span></a></li>
          <li>
            <a href="/projects" class="nav-link scrollto"
              ><i class="bx bx-book-content"></i> <span>Projects</span></a
            >
          </li> -->
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  {% block body %}
    
  {% endblock body %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="container align-bottom">
      <div class="copyright">
        &copy; Copyright <strong><span>Portfolio</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Vamshi Kammari</a>
      </div>
    </div> -->
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
