{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>PORTFOLIO</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    {% block body %}
      
    
    <!-- ======= Mobile nav toggle button ======= -->
    
    

   

    <main id="main">
      <!-- ======= About Section ======= -->
      
      <!-- End About Section -->

      <!-- ======= Skills Section ======= -->
      
      <!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Education</h2>
          </div>

          <div class="row">
              <div class="resume-item">
                <h4 style="text-transform: none;">Bachelors of Engineering (B.E)</h4>
                <h5>2017 - 2021</h5>
                <p>
                  <a href="https://vce.ac.in/"><em> Vasavi College of Engineering</em></a>
                </p>
                <ul>
                  <li>
                    Throughout my academic tenure at Vasavi College of Engineering, a premier institution in Hyderabad, I actively contributed to various impactful projects. These experiences not only augmented my theoretical understanding but also enabled me to translate classroom knowledge into practical solutions. Notably, I engaged in the development of diverse projects, including the creation of the Safe Chat System using .NET framework. This comprehensive web application, crafted on Microsoft Visual Studio, facilitated secure interactions, allowing users to communicate without the concerns of cyberbullying.
                  </li>
                  <li>
                    Beyond academic pursuits, I delved into innovative endeavors such as the Parking Slot Allocator—an IoT-driven project—and the creation of a captivating Black Box game within the realm of Unity. These ventures broadened my scope of technical expertise and fostered a creative approach towards problem-solving.
                  </li>
                  <li>
                    Additionally, my engagement in extracurricular activities stands as a testament to my holistic development. From participating in hackathons and film club productions to volunteering for social causes like Street Cause Eforce Event, I embraced diverse opportunities to grow beyond the confines of traditional education.
                  </li>
                  <li>
                    My achievements further underscore my commitment to excellence. Securing the first position in a hackathon by Misplaced Minds and clinching prizes in sporting events like Vasavi Premier League and the Cricket Tournament highlight my dedication, teamwork, and competitive spirit. These experiences collectively shaped my holistic growth, providing me with a well-rounded skill set and instilling in me the ethos of continuous learning and collaborative success.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Intermediate Education in MPC</h4>
                <h5>2015 - 2017</h5>
                <p>
                  <a href="https://srichaitanya.net/"><em> Sri Chaitanya Educational Institutions</em></a>
                </p>
                <ul>
                  <li>
                    During my intermediate education at Sri Chaitanya Educational Institutions in Hydernagar, Hyderabad, Telangana, I achieved significant milestones. I secured an impressive score of 975 out of 1000 in the final board exams, demonstrating a strong academic foundation. Additionally, I obtained a commendable rank of 2064 in the EAMCET, conducted by TSCHE, showcasing my proficiency in competitive examinations.
                  </li>
                  <li>
                    Moreover, my performance in the highly competitive JEE-Mains examination, where I attained a percentile of 97.71, highlights my dedication to academic excellence and adeptness in tackling challenging assessments. These achievements during my intermediate studies underscore my commitment to academic success and my ability to perform well in diverse academic evaluations.
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Testimonials Section ======= -->
      <!-- <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>My Inspiration</h2>
            <p>
              Inspiration can come from anywhere, but one of my favorite sources
              is inspirational quotes. There are several that have helped me
              stay on track throughout my life journey
            </p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Your time is limited, don't waste it living someone else's
                    life
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/steve.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Steve Jobs</h3>
                  <h4>Ceo</h4>
                </div>
              </div>

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    If something is important enough, even if the odds are
                    against you, you should still do it
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/musk.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Elon Musk</h3>
                  <h4>Ceo & Entrepreneur</h4>
                </div>
              </div>

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Take the stones people throw at you and use them to build a
                    monument
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/ratan.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Ratan Tata</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Every challenge comes with an opportunity. It's up to us how
                    we see it
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/virat.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Virat Kohli</h3>
                  <h4>Cricketer</h4>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section> -->
      <!-- End Testimonials Section -->
    </main>
    <!-- End #main -->

   

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

 
   
    {% endblock body %}
  </body>
</html>
