{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>PORTFOLIO</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    {% block body %}
      
    
    <!-- ======= Mobile nav toggle button ======= -->
    
    

    <!-- ======= Hero Section ======= -->
    <!-- <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container" data-aos="fade-in">
        <h1>Vamshi Kammari</h1>
        <p>
          I'm
          <span
            class="typed text-bg-dark"
            data-typed-items="Designer, Developer, Freelancer"
          ></span>
        </p>
        <a href="/contact"><button class="btn btn-primary btn-outline-light btn-lg"><span><i class="bx bx-user"></i> click here to Contact me </button></a>
      </div>
    </section> -->
    <!-- End Hero -->
   

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>Professional Summary</h2>
            <p>
              A dynamic Software Engineer adept at enhancing new software functionalities and driving substantial 
              customer satisfaction through innovative solutions. Demonstrated success in the optimization of
              performance and user fulfillment by reducing workloads by 90% through efficient solutions.
            </p>
          </div>

          <div class="row">
            <!-- <div class="col-lg-4" data-aos="fade-right">
              <img
                src="{% static 'assets/img/vamshi-desktop.jpeg' %}"
                class="img-fluid"
                alt=""
              />
            </div> -->
            <!-- <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>    Full Stack Engineer</h3>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Birthday:</strong> <span>2nd June 2000</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Website:</strong> <span>www.example.com</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Contact me:</strong> <span>+917396870986</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>City:</strong> <span>Hyderabad, Telangana</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                      <span>23</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Degree:</strong> <span>Bachelor Of Engineering</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Email</strong>
                      <span>kumarvamshi123@gmail.com</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Technical Skills</h2>
          </div>

          <div class="row skills-content">
            <div class="col-lg-6" data-aos="fade-up">
              <div class="progress">
                <span class="skill" style="text-transform: none;">Java / Python<i class="val">Proficiency</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;">Javascript / TypeScript<i class="val">Proficiency</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;"> React JS / Next JS<i class="val">Proficiency</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;">Oracle / PostgreSQL<i class="val">Proficiency</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;">GIT / Github <i class="val">Proficiency</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="progress">
                <span class="skill" style="text-transform: none;">Data Structures and Algorithms<i class="val">Proficiency</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="90"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;">Java(Hibernate) / ORM<i class="val">Proficiency</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;">LLM / Pinecone<i class="val">Proficiency</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill" style="text-transform: none;">HTML / CSS<i class="val">Proficiency</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Professional Experience</h2>
          </div>

          <div class="row">
              <div class="resume-item">
                <h4>Associate Member Technical Staff </h4>
                <h5>07/2021-09/2023</h5>
                <p>
                  <a href="https://www.modeln.com/"><em> Model N India Software Pvt. Ltd.</em></a>
                </p>
                <ul>
                  <li>
                    During my tenure at Model N, I made substantial contributions to the enhancement and maintenance of various Payer modules. My primary focus revolved around leveraging Java and React within the Revenue Cloud Application. I specialized in creating and refining React-based UI components, contributing significantly to diverse functionalities across different products, particularly within the payer domain. Beyond UI enhancement, I skillfully untangled complex bugs, driving transformative improvements, notably within the Formulary and Price Protection domains.                  
                  </li>
                  <li>
                    A significant highlight of my tenure at Model N was engineering a major enhancement termed 'Partial Payouts' within the Price Protection module. This innovative addition empowered manufacturers to seamlessly integrate customer-centric conditions, significantly amplifying customer attraction strategies. This development not only showcased my proficiency in Java and Oracle but also demonstrated a keen understanding of customer needs in the competitive landscape.
                  </li>
                  <li>
                    Moreover, I actively collaborated with cross-functional teams to identify crucial requirements and implement time-saving features. One notable achievement was reducing repetitive workloads by approximately 90% within the Formulary module, ensuring our solutions aligned with customer needs. These collaborative endeavors not only heightened customer satisfaction but also minimized complaints, resulting in a significant boost to the overall product performance.
                  </li>
                  <li>
                    My dedication to optimizing performance and functionality across various products contributed to elevating customer satisfaction levels. These experiences were instrumental in honing my expertise in Hibernate, API Development, Core Java, and React.js. Moreover, these endeavors enriched my collaborative skills, enabling effective teamwork and successful outcomes in multifaceted projects.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Software Consultant (Freelance)</h4>
                <h5>09/2023-11/2023</h5>
                <p>
                  <a href="https://www.numberlabs.ai/"><em> Numberlabs.ai</em></a>
                </p>
                <ul>
                  <li>
                    Collaborated within a five-person team at ServiceGPT, excelling as a full-stack developer. My initial role involved translating Figma designs into pixel-perfect UI screens and crafting multiple endpoints using Next.js SSR.
                  </li>
                  <li>
                    Led the integration efforts of Merge.dev into ServiceGPT, a customized GPT build on Next JS. This integration aimed to streamline organizational workflows by facilitating efficient querying through tailored embeddings
                  </li>
                  <li>
                    Played a pivotal role in ensuring a seamless and tailored integration of Merge.dev, enhancing ServiceGPT's capabilities in providing tailored solutions for optimized organizational processes.
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Testimonials Section ======= -->
      <!-- <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>My Inspiration</h2>
            <p>
              Inspiration can come from anywhere, but one of my favorite sources
              is inspirational quotes. There are several that have helped me
              stay on track throughout my life journey
            </p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Your time is limited, don't waste it living someone else's
                    life
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/steve.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Steve Jobs</h3>
                  <h4>Ceo</h4>
                </div>
              </div>

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    If something is important enough, even if the odds are
                    against you, you should still do it
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/musk.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Elon Musk</h3>
                  <h4>Ceo & Entrepreneur</h4>
                </div>
              </div>

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Take the stones people throw at you and use them to build a
                    monument
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/ratan.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Ratan Tata</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Every challenge comes with an opportunity. It's up to us how
                    we see it
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/virat.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Virat Kohli</h3>
                  <h4>Cricketer</h4>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section> -->
      <!-- End Testimonials Section -->
    </main>
    <!-- End #main -->

   

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

 
   
    {% endblock body %}
  </body>
</html>
